<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F Prime Visualizer</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="img/f-logo-gradient.png" alt="f prime logo">
        <form>
            <label id="select-folder-zone">
                Folder:
                <select id="select-folder">
                    <option disabled ></option>
                </select>
            </label>
            <label>
                Topology:
                <select id="select-file">
                    <option disabled></option>
                </select>
            </label>
        </form>
        <div id="header-buttons">
            <img class="header-button" id="screenshot-button" src="img/screenshot.png" alt="screenshot-button">
            <img class="header-button" id="info-button" src="img/info.png" alt="info-button">
        </div>
    </header>

    <div id="alert">
        <h2>F Prime Visualizer (FPV)</h2>
        <br>
        <p>Need Help? Head over to the GitHub repo: <a href="https://github.com/fprime-community/fprime-visual">https://github.com/fprime-community/fprime-visual</a> </p>

    </div>
    <canvas></canvas>

    <script src="js/helpers.js"></script>

    <!-- Pick any file in themes dir to change -->
    <script src="js/themes/{{ theme_name }}.js"></script>

    <script src="js/parse-data.js"></script>
    <script src="js/classes/box.js"></script>

    <script src="js/canvas.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
